@model DashboardDto
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<ActivityLog>? activityLogs = ViewBag.Activities as IPagedList<ActivityLog>;
    int vCount = 0;
}

@await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
<!-- Start of current projevts grid -->
<section class="container p-2 mt-4">
    <!-- Start new table -->
    <section class="container p-0 rounded mb-2">
        <h5 class="color-myblue text-center p-2 ">ACTIVITY</h5>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered small">
                <thead>
                    <tr class="text-white bg-lightgrey2">
                        <th class="gcol5">No</th>
                        <th class="gcol10">Date</th>
                        <th class="gcol10">Time</th>
                        <th class="gcol15">User</th>
                        <th class="gcol60">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var activity in activityLogs)
                    {
                        vCount += 1;
                        <tr>
                            <td>@vCount</td>
                            <td>@activity.ActDate.ToString("dd/MM/yyyy")</td>
                            <td>@activity.ActDate.ToString("hh:mm:ss")</td>
                            <td>@activity.AppUser.Name</td>
                            <td>@activity.ActAction</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row p-2 d-print-none">
            <div class="col-md-4 mb-sm-2">
                <a asp-controller="admin" asp-action="dashboard" class="btn btn-block btn-lg btn-dark">BACK</a>
            </div>
            <div class="col-md-8">
                <button class="btn btn-block btn-lg btn-success" onclick="window.print()">PRINT</button>
            </div>
        </div>

    </section>

</section>

